.body {
    background-color: black;
    background-size: 100%;
    width: 100%;}

.white-color{
    color: white;
}
.mapouter {
    height: 80vh;
    width: 100%;
}

.gmap_canvas {
    height: 80vh;
    width: 100%;
}

.bgc-black {
    /*background-color: #010101;*/
    /*background-color: blue;*/
    z-index: 5;    
}

.jaguar{
    object-fit: contain;
    object-position: -120px center;
    height: 460px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

.menu-header {
    font-family: Westhouse , Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: black;
    padding: 0;
    margin: 0;
    line-height: 35px;
    overflow: hidden;
}


.hov-ed:hover{
    background-color: chocolate;
}
.img-palmer-r {
    object-fit: contain;
    width: 120px;
}
.img-palmer-l {
    object-fit: contain;
    width: 120px;
}
.sub-title{
    font-family: subtitle;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: #c1a216;
    font-size: 40px;
}

.sub-title2{
    font-family: subtitle; 
    text-align: center !important;
    margin: auto;
    color: #c1a216;
    font-size: 35px;
}

.precio{
    font-family:price;
    color: white;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.precio p {
    margin: 0px;
}

.jaguar{
    color: #c1a216;
}

.try {
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
}
.description {
    font-family: description;
    color: cornsilk;
    font-size: 23px;
    line-height: 24px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    overflow-y: hidden;
}

.img-carousel {
    max-height: 80vh !important;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.mapouter{
    position:relative;
    text-align:right;
    height:100vh;
    width:100%;
    overflow-x: hidden;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100vh;
    width:100%;;
}