@font-face {
  font-family: 'subtitle';
  src: url(../fonts/subtitle.ttf);
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'price';
  src: url(../fonts/AGENCYR.TTF);
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'description';
  src: url(../fonts/description.TTF);
  font-size: normal;
}
@font-face {
  font-family: 'Westhouse';
  src: url(../fonts/Westhouse.ttf);
  font-size: normal;
  font-weight: normal;
}